*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  --secondary-color: #eaece2;
  --success-color:#e71d36;
  --primary-color:#0a0a0a;
  --varient-color:#ff6b7c;
  --btn-transition: all 0.2s ease;
  --btn-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body{
  background: var(--primary-color);
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
}
 ul li{
  list-style: none;
 }
h1,h2,h3{
       font-family: 'Playfair Display', serif;
     font-weight: 500;
}
 .bttn-primary{
  border: 2px solid var(--success-color);
  padding: 10px 40px;
  background-color: var(--success-color); 
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  color: var(--secondary-color);
  cursor: pointer;
  transition: var(--btn-transition);
 }
 .bttn-primary:hover{
  background-color: var(--varient-color);
  border-color: var(--varient-color);
  transition: var(--btn-transition);
  color: var(--primary-color);
 }
 .bttn-secondary{
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 35px;
  border-radius: 4px;
  color: var(--secondary-color);
  cursor: pointer;
  margin-left: 15px;
 }